<header class="header">
  <div class="container header__container">
    <span class="logo">News</span>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="http://">Home</a></li>
        <li class="nav__item">
          <a class="nav__link" href="http://">Favorite</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="http://">Read</a></li>
      </ul>
    </nav>
    <div class="search">
      <input
        class="search__input"
        type="search"
        placeholder="Search"
        name=""
        id=""
      />
      <button class="search__btn">
        <svg class="search__icon icon" width="15" height="15">
          <use href="./images/sprite.svg#search"></use>
        </svg>
      </button>
    </div>
    <div class="checkbox">
      <input type="checkbox__input" name="" id="" />
    </div>
    <button class="menu__btn-burger">
      <svg class="menu__icon icon" width="24" height="24">
        <use href="./images/sprite.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>

<!--------- mobile menu ---------->
<div class="menu is-hidden">
  <div class="menu__container">
    <div class="menu-top">
      <div class="menu__header left-right-paddings">
        <span class="logo">News</span>
        <button class="menu__btn-cross">
          <svg class="menu__icon-cross icon" width="24" height="24">
            <use href="./images/sprite.svg#x"></use>
          </svg>
        </button>
      </div>
      <ul class="menu__nav">
        <li class="menu__item left-right-paddings current">
          <a href="" class="menu__link">
            <div class="menu__thumb">
              <svg class="menu__item__icon" width="18" height="18">
                <use href="./images/sprite.svg#home"></use>
              </svg>
            </div>
            <span class="menu__text">Home</span>

            <svg class="menu__arrow" width="8" height="14">
              <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </li>
        <li class="menu__item left-right-paddings">
          <a class="menu__link">
            <div class="menu__thumb">
              <svg class="menu__item__icon" width="18" height="18">
                <use href="./images/sprite.svg#heart"></use>
              </svg>
            </div>
            <span class="menu__text">Favorite</span>
            <svg class="menu__arrow" width="8" height="14">
              <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </li>
        <li class="menu__item left-right-paddings">
          <a href="" class="menu__link">
            <div class="menu__thumb">
              <svg class="menu__item__icon" width="18" height="18">
                <use href="./images/sprite.svg#book-open"></use>
              </svg>
            </div>

            <span class="menu__text">Read</span>
            <svg class="menu__arrow" width="8" height="14">
              <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <!------- switcher ------->
    <div class="switcher left-right-paddings">
      <div class="switcher__thumb sun">
        <svg class="icon" width="18" height="18">
          <use href="./images/sprite.svg#sun"></use>
        </svg>
      </div>
      <div class="switcher__thumb js-switcher">
        <div class="disc"></div>
      </div>
      <div class="switcher__thumb moon">
        <svg class="icon" width="16" height="16">
          <use href="./images/sprite.svg#moon"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
