<header class="header">
  <div class="container header__container">
    <span class="logo">News</span>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="http://">Home</a></li>
        <li class="nav__item">
          <a class="nav__link" href="http://">Favorite</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="http://">Read</a></li>
      </ul>
    </nav>
    <div class="search">
      <input type="search__input" name="" id="" />
    </div>
    <div class="checkbox">
      <input type="checkbox__input" name="" id="" />
    </div>
    <button class="button-menu">#</button>
  </div>
</header>
