<main class="home container">
  <div class="tools">
    <section class="categories">
      <ul class="categories__list"></ul>
      <li class="categories__item">
        <button class="categories__btn"></button>
      </li>
      <li class="categories__item">
        <button class="categories__btn"></button>
      </li>
      <li class="categories__item">
        <button class="categories__btn"></button>
      </li>
      <li class="categories__item">
        <button class="categories__btn"></button>
      </li>
      <li class="categories__item">
        <button class="categories__btn"></button>
      </li>
      <li class="categories__item">
        <button class="categories__btn"></button>
      </li>
      <li class="categories__item">
        <button class="categories__btn">
          <svg class="icon categories__icon-down" width="14" height="8">
            <use href="./images/sprite.svg#arrow-down"></use>
          </svg>
          <svg class="icon categories__icon-top" width="15" height="9">
            <use href="./images/sprite.svg#arrow-top"></use>
          </svg>
        </button>
      </li>
    </section>
    <section class="calendar">
      <span class="calendar__text"></span>
      <input class="calendar__input" type="date" />
      <svg class="icon categories__icon-calendar" width="16" height="16">
        <use href="./images/sprite.svg#calendar"></use>
      </svg>
      <span class="calendar__date"></span>
      <svg class="icon calendar__icon-down" width="15" height="9">
        <use href="./images/sprite.svg#arrow-down"></use>
      </svg>
      <svg class="icon calendar__icon-top" width="15" height="9">
        <use href="./images/sprite.svg#arrow-top"></use>
      </svg>
    </section>
  </div>
</main>
