// ------------- calendar --------------

.calendar__text {
  display: none;
  margin-right: 37px;
  @include font(18px, 1.39, 700);
  @include desktop() {
    display: inline;
  }
}

.calendar__wrap {
  position: relative;
  display: inline-block;
  width: 152px;
  height: 31px;
  @include tablet() {
    width: 168px;
  }
}
.calendar__input {
  width: 100%;
  height: 100%;
}

.calendar__icon {
  &-down,
  &-top,
  &-calendar {
    @extend %absolute-centerY;
    right: 12px;
  }
  &-calendar {
    @extend %absolute-centerY;
    left: 12px;
  }
  &-top {
    display: none;
  }
  &.js-calendar {
    .calendar__icon-top {
      display: inline-block;
    }
    .calendar__icon-down {
      display: none;
    }
  }
}
