// ------------ categories -------------

.categories {
  display: flex;
  justify-content: space-between;
}
.categories__list {
  display: flex;
  justify-content: space-between;
}

.categories__mobile {
  @include tablet() {
    display: none;
  }
}

.categories__tablet {
  display: none;
  @include tablet() {
    display: inline;
  }
}
